<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Sans" />
        
        <link href="{{ site.url }}/css/pourlahorde.css" rel="stylesheet" type="text/css">
        {% block head_styles %}
        {% endblock %}
        {% block head_scripts %}
        {% endblock %}
    </head>
    <body>
        <header class="banner">
            <strong class="banner-content">Pour la horde</strong>
            <span class="server">Elune</span>
            <nav> 
                <ul>
                    <li><a href="{{ site.url }}/">Fief</a></li>
                    <li><a href="{{ site.url }}/professions/">Métiers</a></li>
                </ul>
            </nav>
        </header>

        <div class="content">
    {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
</div>
</body>
<script type="text/javascript" src="//fr.zamimg.com/widgets/power.js"></script>
<script>var wowhead_tooltips = { "colorlinks": true, "iconizelinks": true, "renamelinks": true }</script>
</html>
